In [1]:
#!pip3 install pandas==0.25.3

In [2]:
#import the necessary libraries

import json
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
#load the json from content file

with open('/content/dab.json',) as f:
    data = json.load(f)

In [4]:
#Load the Data
data['file']

[{'_id': {'_data': '826113AC20000000342B022C0100296E5A1004AF58B78CD41E4D8C9BAC3675F36514AB46645F696400646112472C5E450E8C3374BA3F0004'},
  'clusterTime': 886594816,
  'documentKey': {'_id': '{"$oid": "6112472c5e450e8c3374ba3f"}'},
  'fullDocument': {'_id': '{"$oid": "6112472c5e450e8c3374ba3f"}',
   'name': 'Ifeanyi Bill JSON R',
   'position': 'Son',
   'surname': 'Amanambu'},
  'ns': {'coll': 'family', 'db': 'feshdb'},
  'operationType': 'update',
  'updateDescription': {'removedFields': [],
   'updatedFields': {'name': 'Ifeanyi Bill JSON R'}}},
 {'_id': {'_data': '826110F66E0000002F2B022C0100296E5A1004AF58B78CD41E4D8C9BAC3675F36514AB46645F696400646110E0285E450E8C3374BA3D0004'},
  'clusterTime': 709008816,
  'documentKey': {'_id': '{"$oid":"6110e0285e450e8c3374ba3d"}'},
  'ns': {'coll': 'family', 'db': 'feshdb'},
  'operationType': 'delete'}]


**Four Ways to Convert Nested JSON to Data Frame:**


First Use: pandas.read_json then you have two options:

1 st : convert data type, then create a new data frame

2 nd : use pandas.json_normalize directly.

3 rd : iterate and enter nested outer to inner

4 th : list comprehension


For this solution I used pandas.json_normalize directly.

In [7]:
#This function preprocesses the data into a table format
#The data will now be changed to a table format


def preprocess(json):
  Parsed_data = json_normalize( json)
  Parsed_data['_id']=Parsed_data['documentKey._id'].apply(lambda x: x.split('"')[3])
  Parsed_data['fullDocument.name'] = Parsed_data['fullDocument.name'].str[:-7] 
  Parsed_data = Parsed_data.rename(columns={'fullDocument.name': 'name', 'fullDocument.surname': 'surname', 'fullDocument.position': 'position'})
  Parsed_data=Parsed_data[['_id','name','surname','position','operationType']]
  return(Parsed_data)

In [8]:
#the fullDocument key represents the actual data and informs the majority of the headers.

preprocess(data['file'])

                        _id          name   surname position operationType
0  6112472c5e450e8c3374ba3f  Ifeanyi Bill  Amanambu      Son        update
1  6110e0285e450e8c3374ba3d           NaN       NaN      NaN        delete